<div class="container">
  <ng-container *ngIf="yesPressed; else askValentine">
    <img [style.height.vh]="90" src="https://media1.tenor.com/m/KSyv76t4peYAAAAC/no-really.gif" />
    <div class="displayText">Okie dokie!!!!!</div>
  </ng-container>
  <ng-template #askValentine>
    <img [style.height.vh]="initialImageSize" src="https://media1.tenor.com/m/Jol0FFfU7C4AAAAd/bemy-valentine.gif" />
    <h1 class="displayText">Will you be my <s>Valentine </s> <b> Everyday</b>?</h1>
    <div>
      <button
        class="yesButtonCss"
        [style.font-size.px]="yesButtonSize"
        (click)="setYesPressed(true)"
      >
        Yes
      </button>
      <button
        (click)="handleNoClick()"
        class="noButtonCss"
      >
        {{ noCount === 0 ? 'No' : getNoButtonText() }}
      </button>
    </div>
  </ng-template>
</div>